<div class="navbar bg-primary shadow-md">
  <div class="navbar-start">
    <a class="btn btn-ghost normal-case text-xl">PineTrees</a>

  </div>
  <div class="navbar-center">
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-accent bg-accent border-accent">
        <div class="w-max">
          <p>Filters</p>
        </div>
      </label>
      <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
        <li *ngFor="let decoration of decorations">
          <a>
            {{decoration.name}}
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>
